@import "reset (1).css";

html,
body {
    overflow-x: hidden
}

.row {
    max-width: 1361px;
    margin: 0 auto;
}



#header {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 20px 10px;
}

.scrolling-bar {
    position: absolute;
    bottom: -3px;
    left: 0;
    z-index: 999999999999;
    width: 0%;
    height: 3px;
    background-color: #95afb5;
    opacity: 0;
}

/* #header.on {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 178px;
    padding: 20px 10px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999999999;
} */

#header .logo {
    margin-bottom: 60px;
    display: inline-block;
    padding-top: 15px;
}


#header .nav {
    float: right;
    padding-top: 10px;
}

#header .open_nav {
    display: none
}

#header .close_nav {
    display: none
}

#header .depth1 {
    display: inline-block;
    margin-top: 10px;
    padding-right: 26.4688px;
    font-family: "Lato", "sans-serif";
}


#header .depth1>li {
    display: inline-block;
    padding-bottom: 10px;
    position: relative;
}


#header .depth1>li>a {
    padding: 0px 19.5px;
    font-size: 13px;
    color: #7c7c7c;
    transition: all 0.5s;
    padding-bottom: 15px;
    display: inline-block;
}


#header .depth1>li>a:hover {
    color: #95afb5;
}

#header .depth1>li:nth-child(5) {
    position: relative;
}

#header .depth1>li:nth-child(5):after {
    content: '\f0d7';
    font-weight: 900;
    font-family: 'font awesome 5 free';
}

#header .depth1 .depth2 {
    display: none;
    position: absolute;
    top: 100%;
    left: -30px;
    z-index: 99999999;
    text-align: center;
}


/* 숨겨진메인메뉴를 블락시킬려면 선택자를 메뉴1의 > 직접자손 li 를 직접 지목하고 메뉴를 붙여서 선택자를 붙힌다 */
/* #header .depth1 li:hover .depth2 {
    display: block;
    animation: animate__fadeIn 0.5s;
}*/


#header .depth2>li a {
    display: inline-block;
    padding: 13px 0;
    width: 200px;
    color: #7c7c7c;
    font-size: 13px;
    transition: 1s all;
    background-color: #e9f1f2;
}

/* #header .depth2>li:nth-child(1) a {
    opacity: 1;
} */


#header .depth2>li:hover a {
    /* border: 1px solid #ccc; */
    /* opacity: 1; */
    background-color: #fff;
}

/* #header .depth2>li:nth-child(2):hover a {
    border-top: none;
    opacity: 1;

} */

/* #header .depth2>li>a:hover {
    color: #7c7c7c;
    opacity: 1;
} */

#header .nav .sns {
    display: inline;
    position: relative;
    padding-left: 35px;
}

#header .nav .sns:after {
    content: '';
    width: 1px;
    height: 40px;
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


#header .nav .sns>li {
    display: inline;
}

#header .nav .sns>li>a {
    display: inline-block;
    font-size: 16px;
    color: #7c7c7c;
    padding: 11px 15px 20px;
    transition: 0.5s all;
}


#header .nav .sns>li:nth-child(1):hover>a {
    color: skyblue;
}

#header .nav .sns>li:nth-child(2):hover>a {
    color: orangered;
}

#header .nav .sns>li:nth-child(3):hover>a {
    color: green;
}

#header .nav .sns>li:nth-child(4):hover>a {
    color: red;
}

/* ----------여기까지 헤더------------------ */

#footer {
    margin: 0 auto;
    padding: 62.6666px 46.6667px 0;
    color: #7c7c7c;
    background-color: #e9f1f2;
}


#footer h3 {
    font-size: 24px;
    font-family: "playfair display";
}


#footer p,
#footer li>a {
    font-size: 16px;
}

#footer .help {
    float: left;
    padding: 0 64px 64px;
    width: 33.3333333%;
}

#footer .help h3 {
    position: relative;
    padding-bottom: 18px;
}

#footer .help p {
    padding-top: 36px;
}


#footer .help h3:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 50px;
    height: 1px;
    background-color: #7c7c7c;
}


#footer .link {
    float: left;
    padding: 0 64px 64px;
    width: 33.3333333%;
}


#footer .link h3 {
    position: relative;
    padding-bottom: 18px;
}

#footer .link a {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    padding-top: 36px;
}





#footer .link h3:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 50px;
    height: 1px;
    background-color: #7c7c7c;
}

#footer .site_search {
    float: right;
    padding: 0 64px 64px;
    width: 33.3333333%;
}


#footer .site_search h3 {
    position: relative;
    padding-bottom: 18px;
}

#footer .site_search form {
    padding-top: 36px;
}


#footer .site_search input {
    height: 40px;
    width: 70%;
    float: left;
    padding: 10px;
}

#footer .site_search button {
    background: #dce7e9;
    height: 40px;
    width: 30%;
    float: left;
}


#footer .site_search h3:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 50px;
    height: 1px;
    background-color: #7c7c7c;
}



.blog_go {
    text-align: center;
    padding: 36px;
    background: #dce7e9;
    width: 100%;
}

.blog_go a {
    display: inline-block;
    color: #7c7c7c;
}


input::placeholder {
    font-size: 20px;
    /* padding-left: 10px; */
}



.introAni {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 1);
    z-index: 99999999999999999999999;
    font-size: 100px;
    color: #fff;
}

.introAni img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 25%;
    text-align: center;
}