@charset "utf-8";
#food_section .article3_tit {
    color: #7c7c7c;
    margin: 11.2px 0 28px;
    font-size: 28px;
    font-family: 'Lora', sans-serif;
    font-weight: 100;
}

.article3 {
    margin-bottom: 40px;
}

/* -------------메인메뉴 이미지 포지션테그들------- */
.article3>.article3li {
    float: left;
    width: 33.33333%;
}

.article3>.article3li>a {
    height: 504px;
}

.article3 img {
    width: 100%;
}


.article3>.article3li {
    padding: 0 17.4129px;
}

.article3 .article3li {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.article3_tit {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.article3_tit.on {
    animation: fadeInRight 1s both 0s;
}

.article3 {
    overflow: hidden;
}

.article3.on .article3li {
    animation: fadeInUp 1s both 0s;
}

.article3.on .article3li:nth-child(2) {
    animation-delay: 0.5s;
}

.article3.on .article3li:nth-child(3) {
    animation-delay: 1s;
}

.article3.on .article3li:nth-child(4) {
    animation-delay: 1.5s;
}