@charset "utf-8";
@import "reset (1).css";
@import "common.css";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

#section {
    padding: 20px;
}

/* ------------------------------------ */
#section .article2 a {
    transition: all 1s;
}

#section .article2 a:hover {
    opacity: 0.7;
}

#section .article3 a {
    transition: all 1s;
}

#section .article3 a:hover {
    opacity: 0.7;
}

#section .article4 a {
    transition: all 1s;
}

#section .article4 a:hover {
    opacity: 0.7;
}

/* article1 부분 슬라이더 */
.main_rolling_pc .slide {
    background-repeat: no-repeat;
    background-size: cover;
    height: 741px;
    background-position: center;
    position: relative
}

.main_rolling_pc {
    position: relative
}

.main_rolling_pc .marrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 80px;
    color: #fff;
}

.main_rolling_pc .prevArrow {
    left: 20px;
    z-index: 99999999
}

.main_rolling_pc .nextArrow {
    right: 20px
}

.main_rolling_pc .slick-dots {
    position: absolute;
    bottom: 20px;
    width: 60%;
    text-align: right
}

.main_rolling_pc .slick-dots li {
    display: inline-block;
    width: 80px;
    height: 3px;
    background: #999;
    margin: 0 3px;
    position: relative
}

.main_rolling_pc .slick-dots li button {
    width: 0px;
    height: 3px;
    background: brown;
    border: none;
    text-indent: -9999px;
    overflow: hidden;
    border-radius: 1px;
    position: absolute;
    top: 0;
    left: 0;
}

.main_rolling_pc .slick-dots li.slick-active button {
    animation: lineani 3s both
}

@keyframes lineani {
    0% {
        width: 0px
    }

    100% {
        width: 100%;
    }
}

.main_rolling_pc .plpa {
    position: absolute;
    bottom: 18px;
    background: none;
    border: none;
    font-size: 15px;
    color: brown;
    right: 0;
    width: 40%;
    text-align: left;
    padding-left: 10px;
}

/* -----------이미지마우스 커서올렸을때 호버효과들----------- */
.article1 {
    /* display: inline-block; */
    position: relative;
    margin: 0 17.4129px 40px;
}

.article1 .enrty_content {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.article1 .article1_img {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.article1 {
    overflow: hidden;
}

.article1.on .enrty_content {
    animation: fadeInLeft 0.5s both 0s;
    /* animation-delay: 0.5s; */
}

.article1.on .article1_img {
    animation: fadeInRight 0.5s both 0s;
    /* animation-delay: 0.5s; */
}


.enrty_content {
    width: 51%;
    float: left;
    position: absolute;
    top: 30%;
    left: 0%;
}

.enrty_content span {
    display: block;
    margin-bottom: 9px;
    color: #7c7c7c;
    font-size: 18px;
    font-family: 'Lora', serif;
}

.enrty_content .time_txt:hover {
    color: #95afb5;
}

.enrty_content .time_txt {
    transition: 1s all;
}

.enrty_content h2:hover {
    color: #95afb5;
}

.enrty_content h2 {
    display: inline-block;
    color: #7c7c7c;
    font-size: 52px;
    margin-bottom: 18.2px;
    transition: 1s all;
    font-family: 'Dancing Script', cursive;
    line-height: 1em;
}

.enrty_content span:nth-child(3) {
    margin-bottom: 40.5px;
}

.enrty_content span:nth-child(3):before {
    content: '';
    background-color: #7c7c7c;
    width: 65px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.article1_img img {
    width: 49%;
    float: right;
}

.article2 {
    margin-bottom: 40px;
}

.article2>.article2li {
    float: left;
    width: 33.33333333%;
}

/* 플롯 정렬을 할때는 li값에 width값을 주고 이미지에 100%를 주면 이미지는 다보이면서 한줄정렬할수 있다 하지만 li 안에 구성요소에 높이값을 줘야한다 */
.article2>.article2li {
    padding: 0 17.4129px;
}

.article2>.article2li>a {
    height: 504px;
}


.article2 img {
    width: 100%;
}

.article2 .article2li {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.article2 {
    overflow: hidden;
}

.article2.on .article2li {
    animation: fadeInUp 1s both 0s;
}

.article2.on .article2li:nth-child(2) {
    animation-delay: 0.5s;
}

.article2.on .article2li:nth-child(3) {
    animation-delay: 1s;
}

.article2.on .article2li:nth-child(4) {
    animation-delay: 1.5s;
}

.article2 .article2_galleryPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    z-index: 9999999999999999999999;
    transition: all 0.5s;
}

.article2 .article2_galleryPopup.on {
    opacity: 1;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    overflow: visible;
}

.article2 .article2_galleryPopup .popupList {
    position: absolute;
    top: 50%;
    left: 35%;
    right: 35%;
    transform: translateY(-50%);
    text-align: center;
}

.article2 .article2_galleryPopup .popupList .close {
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 40px;
    color: #fff;
    background: none;
    cursor: pointer;
}

.article2 .article2_galleryPopup .popupList .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: #fff;
    background: none;
    cursor: pointer;
}

.article2 .article2_galleryPopup .popupList .prev {
    left: -40px;
}

.article2 .article2_galleryPopup .popupList .next {
    right: -40px;
}

#section .article3_tit {
    color: #7c7c7c;
    margin: 11.2px 0 28px;
    font-size: 28px;
    font-family: 'Lora', sans-serif;
    font-weight: 100;
}

.article3 {
    margin-bottom: 40px;
}

/* -------------메인메뉴 이미지 포지션테그들------- */
.article3>.article3li {
    float: left;
    width: 33.33333%;
}

.article3>.article3li>a {
    height: 504px;
}

.article3 img {
    width: 100%;
}


.article3>.article3li {
    padding: 0 17.4129px;
}

.article3 .article3li {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.article3_tit {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.article3_tit.on {
    animation: fadeInRight 1s both 0s;
}

.article3 {
    overflow: hidden;
}

.article3.on .article3li {
    animation: fadeInUp 1s both 0s;
}

.article3.on .article3li:nth-child(2) {
    animation-delay: 0.5s;
}

.article3.on .article3li:nth-child(3) {
    animation-delay: 1s;
}

.article3.on .article3li:nth-child(4) {
    animation-delay: 1.5s;
}

.article4 {
    margin-bottom: 40px;
    margin-top: 4em;
}

.article4>.article4li {
    float: left;
    width: 33.33333%;
}

.article4>.article4li>a {
    height: 504px;
}

.article4 img {
    width: 100%;
}


.article4>.article4li {
    padding: 0 17.4129px;
}


.article4 {
    margin-bottom: 40px;
    margin-top: 4em;
}

.article4>.article4li {
    float: left;
    width: 33.33333%;
}

.article4>.article4li>a {
    height: 504px;
}

.article4 img {
    width: 100%;
}


.article4>.article4li {
    padding: 0 17.4129px;
}

.article4 .article4li {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.article4 {
    overflow: hidden;
}

.article4.on .article4li {
    animation: fadeInUp 1s both 0s;
}

.article4.on .article4li:nth-child(2) {
    animation-delay: 0.5s;
}

.article4.on .article4li:nth-child(3) {
    animation-delay: 1s;
}

.article4.on .article4li:nth-child(4) {
    animation-delay: 1.5s;
}

/* -------------메인메뉴 이미지 포지션테그들------- */

.article5 {
    margin-bottom: 40px;
    margin-top: 4em;
}

.article5>.article5li {
    float: left;
    width: 33.33333%;
}

.article5>.article5li>a {
    height: 504px;
}

.article5 img {
    width: 100%;
}


.article5>.article5li {
    padding: 0 17.4129px;
}

.article5 .article5li {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.article5 {
    overflow: hidden;
}

.article5.on .article5li {
    animation: fadeInUp 1s both 0s;
}

.article5.on .article5li:nth-child(2) {
    animation-delay: 0.5s;
}

.article5.on .article5li:nth-child(3) {
    animation-delay: 1s;
}

.article5.on .article5li:nth-child(4) {
    animation-delay: 1.5s;
}


.article6>.article6li {
    margin-bottom: 40px;
    margin-top: 4em;
}

.article6>.article6li {
    float: left;
    width: 33.33333%;
}

.article6>.article6li>a {
    height: 504px;
}

.article6 img {
    width: 100%;
}

.article6>.article6li {
    padding: 0 17.4129px;
}

.article6 .article6li {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.article6 {
    overflow: hidden;
}

.article6.on .article6li {
    animation: fadeInUp 1s both 0s;
}

.article6.on .article6li:nth-child(2) {
    animation-delay: 0.5s;
}

.article6.on .article6li:nth-child(3) {
    animation-delay: 1s;
}

.article6.on .article6li:nth-child(4) {
    animation-delay: 1.5s;
}

.article7>.article7li {
    padding: 0 17.4129px;
}

.article7>.article7li {
    margin-bottom: 40px;
    margin-top: 4em;
}

.article7>.article7li {
    float: left;
    width: 33.33333%;
}

.article7>.article7li>a {
    height: 504px;
}

.article7 img {
    width: 100%;
}


.article7>.article7li {
    padding: 0 17.4129px;
}

.article7 .article7li {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.article7 {
    overflow: hidden;
}

.article7.on .article7li {
    animation: fadeInUp 1s both 0s;
}

.article7.on .article7li:nth-child(2) {
    animation-delay: 0.5s;
}

.article7.on .article7li:nth-child(3) {
    animation-delay: 1s;
}

.article7.on .article7li:nth-child(4) {
    animation-delay: 1.5s;
}

/* -------------버튼클릭시 나타날 이미지들 스타일------- */




.section_content {
    text-align: left;
    padding: 0 15px;
    margin-top: 40px;
}



.section_content span:first-child {
    transition: all 1s;
}

.section_content span:first-child:hover {
    color: #95afb5
}


.section_content span {
    margin-bottom: 8px;
    color: #7c7c7c;
    display: block;
    font-size: 16px;
    font-family: 'Lora', serif;
}

.section_content h3 {
    margin-bottom: 12.6px;
    color: #7c7c7c;
    font-size: 33px;
    font-family: 'Viaoda Libre', cursive;
    letter-spacing: 3px;
    transition: 1s all;
}

.section_content h3:hover {
    color: #95afb5
}

.section_content span:last-child {
    position: relative;
    padding-bottom: 30px;
}

.section_content span:last-child:before {
    content: '';
    background-color: #7c7c7c;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 60px;
    height: 2px;
}




.older_posts {
    padding: 40px 0 80px;
    text-align: center;
    height: 19.5px;
}

.older_posts a {
    background: #e9f1f2;
    border: solid 1px #fff;
    padding: 15px 20px;
    transition: all 1s;
}

.older_posts a:hover {
    background-color: #fff;
    border: solid 1px #ccc;
}

.older_posts span {
    font-size: 13px;
    color: #7c7c7c;
    display: inline-block;
    padding: 19.5px 52px;
}



.gotop {
    display: block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999999999999;
    opacity: 0;
}

.gotop.on {
    display: block;
}

.gotop img {
    width: 70px;
    cursor: pointer;
}