@charset "utf-8";
@import "reset (1).css";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

#project_section .project_1 a {
    transition: all 1s;
}

#project_section .project_1 a:hover {
    opacity: 0.7;
}

#project_section .project_tit {
    color: #7c7c7c;
    margin: 11.2px 0 28px;
    font-size: 28px;
    font-family: 'Lora', sans-serif;
    font-weight: 100;
}

.project_1 {
    margin-bottom: 40px;
}

/* -------------메인메뉴 이미지 포지션테그들------- */
.project_1>.projectli {
    float: left;
    width: 33.33333%;
}

.project_1>.projectli>a {
    height: 504px;
}

.project_1 img {
    width: 100%;
}


.project_1>.projectli {
    padding: 0 17.4129px;
}

.project_1 .projectli {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.project_tit {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.project_tit.on {
    animation: fadeInRight 1s both 0s;
}

.project_1 {
    overflow: hidden;
}

.project_1.on .projectli {
    animation: fadeInUp 1s both 0s;
}

.project_1.on .projectli:nth-child(2) {
    animation-delay: 0.5s;
}

.project_1.on .projectli:nth-child(3) {
    animation-delay: 1s;
}

.project_1.on .projectli:nth-child(4) {
    animation-delay: 1.5s;
}

/* ------------------project2 */
#project_section .project_2 a {
    transition: all 1s;
}

#project_section .project_2 a:hover {
    opacity: 0.7;
}

#project_section .project_tit {
    color: #7c7c7c;
    margin: 11.2px 0 28px;
    font-size: 28px;
    font-family: 'Lora', sans-serif;
    font-weight: 100;
}

.project_2 {
    margin-bottom: 40px;
}

/* -------------메인메뉴 이미지 포지션테그들------- */
.project_2>.projectli {
    float: left;
    width: 33.33333%;
}

.project_2>.projectli>a {
    height: 504px;
}

.project_2 img {
    width: 100%;
}


.project_2>.projectli {
    padding: 0 17.4129px;
}

.project_2 .projectli {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}


.project_2 {
    overflow: hidden;
}

.project_2.on .projectli {
    animation: fadeInUp 1s both 0s;
}

.project_2.on .projectli:nth-child(2) {
    animation-delay: 0.5s;
}

.project_2.on .projectli:nth-child(3) {
    animation-delay: 1s;
}

.project_2.on .projectli:nth-child(4) {
    animation-delay: 1.5s;
}